body {
  background-color: #01204b;
  color: #eee;
}

h1 {
  color: white;
  font-family: serif;
}

h2 {
  color: white;
  font-family: sans-serif;
}

h3 {
  color: white;
  font-family: sans-serif;
}

h4 {
  color: white;
  font-family: sans-serif;
  line-height: 0px;
}

a {
  color: #c3b802;
  font-family: sans-serif;
}

li {
  color: white;
  font-family: sans-serif;
  list-style-type: disc;
}

.my-links {
  inline-size: auto;
  color: #c3b802;
}